
<ion-view view-title="{{event.name}}">
  <ion-content class="has-tabs-top padding">


    <h2>Description</h2>
    <p>
      {{event.description}}
    </p>

    <h2>Delivery Schedule</h2>
    <ion-list>
      <ion-item ng-repeat="ds in event.delivery_schedule">
        <h4> {{ds.arrival_time}} - {{ds.location}}</h4>
      </ion-item>
    </ion-list>


    <h2>Products</h2>
    <div class="list card" ng-repeat="product in event.products" >

      <ion-item class="item item-thumbnail-left"  ng-click="toggleProduct(product)" ng-class="{active: isProductDetailShown(product)}" >

        <img ng-src="{{product.product_id.details[0].img_url}}" />

        <h3>name: {{product.product_id.name}}</h3>
        <h4>price: {{product.unit_price}}</h4>
        <h4>sold: {{product.num_sold}}</h4>

      </ion-item>

      <ion-item class="item-accordion" ng-show="isProductDetailShown(product)" >

        <h4>Options:</h4>
        <ion-list ng-repeat="detail in product.product_id.details" >
          <div>Description: {{detail.description}}</div>
          <div>Price: {{detail.price}}</div>

          <ion-item ng-repeat="option in detail.options" >
            <h4>{{option.name}}</h4>
            <div ng-switch on="{{option.isMultiple}}">
              <div ng-switch-when="true">
                <ion-checkbox ng-repeat="sel in option.selections" >
                  {{sel}}
                </ion-checkbox>
              </div>
              <div ng-switch-default>
                <ion-radio ng-repeat="sel in option.selections" class="icon-left" >
                  {{sel}}
                </ion-radio>
              </div>
            </div>
          </ion-item>
        </ion-list>

      </ion-item>

    </div>

  </ion-content>
</ion-view>
