
<ion-view view-title="{{event.name}}">
  <ion-content class="has-tabs-top padding">



    <h2>Delivery Schedule</h2>
    <ion-list>
      <ion-item ng-repeat="ds in event.delivery_schedule">
        <h4> {{ds.arrival_time}} - {{ds.location}}</h4>
      </ion-item>
    </ion-list>


    <h2>Products</h2>
    <div ng-repeat="product in event.products">
      <div class="card" ng-click="" >
        <div class="item item-image">
          <img ng-src="http://images.visitbeijing.com.cn/20150610/Img215165848.jpg">
        </div>

        <a class="item">
          <h3>id: {{product._id}}</h3>
          <h4>price: {{product.unitPrice}}</h4>
          <h4>sold: {{product.num_sold}}</h4>
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
