<ion-view view-title="Features" ng-init="getAllEvents()">

  <ion-nav-buttons side="left">
    <button class="button button-icon ion-location" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-search" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>

  <ion-content class="has-tabs-top padding">

    <ng-map center="[40.74, -74.18]"></ng-map>


    <!-- <ion-list class="list-card">
      <ion-item class="item-remove-animate item-text-wrap" ng-repeat="event in events" ng-click="showEventDetails(event.id)" >



            <img class="item-image full-image" src="http://images.visitbeijing.com.cn/20150610/Img215165848.jpg">

            <div class="card-title">{{event.name}}</div>
            <div class="card-subtitle">{{event.description}}</div>

      </ion-item>

    </ion-list> -->


    <div ng-repeat="event in events">
			<div class="card" ng-click="showEventDetails(event._id)" >
				<div class="item item-image">
					<img ng-src="{{event.img_url}}">
				</div>

				<a class="item">
					<h3>{{event.name}}</h3>
					<h4>{{event.description}}</h4>
				</a>
			</div>

		</div>

  </ion-content>


</ion-view>
