<ion-view view-title="My Location" class="padding"   >

<!-- ng-init="NgMap.initMap('location-modal-map')" -->


  <ion-content>

    <label class="item item-input">
      <span class="input-label">Address</span>
      <input type="text" ng-model="data.address"  />
    </label>

    <!-- <button class="button assertive button-icon icon icon-left ion-navigate" ng-click="centerOnMe(false)" >Find By Address</button>
    <button class="button assertive button-icon icon icon-left ion-navigate" ng-click="centerOnMe(true)">Find Me</button> -->


    <ng-map id="location-modal-map" center="current-position" >
      <marker position="current-position" draggable="true" title="My Location" animation="Animation.BOUNCE" ></marker>
    </ng-map>

  </ion-content>

</ion-view>
