<ion-modal-view>
  <ion-header-bar class="bar-assertive fix-buttons" >
    <h1 class="title">{{product.product_id.name}}</h1>


    <a class="button" ng-click="closeModal()">Cancel</a>
    <a class="button" ng-click="orderThis(product, event._id)">Add</a>


  </ion-header-bar>

  <ion-content>

    <h4>Options:</h4>
      <ion-list ng-repeat="detail in product.product_id.details" >
        <div>
          <p>
            Description: {{detail.description}}
          </p>
          <p>
            Price: {{detail.price}}
          </p>

          <label class="item-input-wrapper">
            <span class="input-label">Q:</span>
            <input type="number" ng-model="product.orderedQuantity" min="1">
          </label>


        <ion-item ng-repeat="option in detail.options" >
          <h4>{{option.name}}</h4>
          <div class="">
            <div ng-switch on="{{option.isMultiple}}">
              <div ng-switch-when="true">

                <!-- <ion-checkbox name="{{option.name}}" ng-repeat="sel in option.selections" >
                  {{sel}}
                </ion-checkbox> -->


                <md-checkbox name="{{option.name}}" ng-repeat="sel in option.selections" ng-value="sel">
                  {{sel}}
                </md-checkbox>

              </div>
              <div ng-switch-default>
                <!-- <ion-radio name="{{option.name}}" ng-repeat="sel in option.selections"  >
                  {{sel}}
                </ion-radio> -->

                <md-radio-group class="md-warn" >
                  <md-radio-button ng-repeat="sel in option.selections" ng-value="sel"  >
                    {{sel}}
                  </md-radio-button>
                </md-radio-group>


              </div>
            </div>
          </div>

        </ion-item>
      </ion-list>

  </ion-content>
</ion-modal-view>
