<ion-view >
  <ion-nav-buttons >
    <label class="item item-input" style="height:36px">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search Restaurant . . ." />
    </label>
  </ion-nav-buttons>


  <ion-content class="padding">
    <ion-list>
      <!-- <a class="item" ng-repeat="restaurant in restaurants" ng-click="selectTabWithIndex(1)"> -->
      <ion-item class="item-remove-animate" ng-repeat="restaurant in restaurants" type="item-text-wrap" ng-click="rememberRestaurant({{restaurant}})" ng-href="#/tab/restaurants/{{restaurant.id}}">
        <h3>{{restaurant.name}}   {{restaurant.id}}</h3>
        <p>{{restaurant.phone}}</p>
        <p>{{restaurant.address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
