<ion-view view-title="Restaurants">
  <ion-content class="padding">
    <div class="list">
      <!-- <a class="item" ng-repeat="restaurant in restaurants" ng-click="selectTabWithIndex(1)"> -->
      <a class="item" ng-repeat="restaurant in restaurants" type="item-text-wrap" href="#/tab/restaurants/{{restaurant.id}}">
        <h3>{{restaurant.name}}   {{restaurant.id}}</h3>
        <p>{{restaurant.phone}}</p>
        <p>{{restaurant.address}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
