
<ion-tabs class="tabs-icon-top tabs-striped">

  <ion-tab title="Events" icon="ion-star" ui-sref="tabs.events.features">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="Restaurants" icon="ion-android-restaurant" ui-sref="tabs.vendors">
    <ion-nav-view name="tab-vendors"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="Cart" icon="ion-bag" ng-controller="cartController" badge="badgeCount()" badge-style="badge-assertive" ui-sref="tabs.cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="ion-gear-a" ui-sref="tabs.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
