

<ion-view>

  <ion-tabs class="tabs-striped tabs-top tabs-icon-only tabs-color-assertive">
      <ion-tab title="Today's Special" icon="ion-star" ui-sref="tabs.events.features">
        <ion-nav-view name="tabs-events-features"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Vendors" icon="ion-android-restaurant" ui-sref="tabs.events.vendors">
        <ion-nav-view name="tabs-events-vendors"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Map" icon="ion-map" ui-sref="tabs.events.map">
        <ion-nav-view name="tabs-events-map"></ion-nav-view>
      </ion-tab>

  </ion-tabs>

  <!-- <ui-view name="events-page"></ui-view> -->

</ion-view>
