

<ion-view>

  <ion-tabs class="tabs-striped tabs-top tabs-icon-only">
      <ion-tab title="Today's Special" icon="ion-star" ui-sref="tabs.events.today">
        <ion-nav-view name="tabs-events-today"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Restaurants" icon="ion-android-restaurant" ui-sref="tabs.events.restaurants">
        <ion-nav-view name="tabs-events-restaurants"></ion-nav-view>
      </ion-tab>

  </ion-tabs>

  <!-- <ui-view name="events-page"></ui-view> -->

</ion-view>
