<ion-modal-view >
  <ion-header-bar class="bar-assertive fix-buttons" >
    <h3 class="title">Forget Password</h3>

    <a class="button" ng-click="closeModal()">Cancel</a>

  </ion-header-bar>

  <ion-content>

    <div class="list padding" >

      <div class="item row">
        <div class="col col-80">
          <label class="item item-input item-floating-label ">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="user.email">
          </label>
        </div>

        <div class="col">
          <button class=" button button-assertive" ng-click="GetResetToken()" >
            <span class="button-text">Get</span>
          </button>

        </div>

      </div>



      <label class="item item-input item-floating-label">
        <span class="input-label">Passcode</span>
        <input type="text" placeholder="Passcode" ng-model="user.resetToken">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="New Password" ng-model="user.newPassword">
      </label>

      <button class=" button button-full icon-center ion-log-in  button-assertive" ng-click="ResetPassword()" ng-disabled="!showing">
        <ion-spinner ng-hide="showing" class="spinner-energized "></ion-spinner>
        <span class="button-text" ng-hide="!showing">Reset</span>
      </button>

    </div>

  </ion-content>
</ion-modal-view>
