<ion-view view-title="LoopIn" hide-nav-bar="false" >
  <ion-content ng-init="clearUserInfo()">

    <div class="login-container">
      <div class="list" >

        <div class="item tabs tabs-secondary tabs-striped " >

          <a class="tab-item" ng-click="showRegisterForm(false)" >
            <i class="">Login</i>
          </a>

          <a class="tab-item" ng-click="showRegisterForm(true)" >
            <i class="">Register</i>
          </a>

        </div>


        <div ng-show="!register">
          <img class="full-image login-avatar" src="../img/yao-ming-fuck-that-guy-rage-face.png" />

          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="user.username">
          </label>

          <!-- <md-input-container class="md-block">
            <label>Username</label>
            <input required="" name="username" ng-model="user.username">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">Username cannot be empty.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input required="" type="password" name="password" ng-model="user.password">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">Password cannot be empty.</div>
            </div>
          </md-input-container> -->


          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="user.password">
          </label>

          <button class=" button button-full icon-center ion-log-in  button-assertive" ng-click="login()" ng-disabled="!showing">
            <ion-spinner ng-hide="showing" class="spinner-energized "></ion-spinner>
            <span class="button-text" ng-hide="!showing">Sign In</span>
          </button>

        </div>

        <div ng-show="register">
          <img class="full-image register-avatar" src="../img/welcome-16.png" />

          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="user.username">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="user.password">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="user.email">
          </label>

          <button class=" button button-full icon-center ion-log-in  button-assertive" ng-click="createUser()" ng-disabled="!showing">
            <ion-spinner ng-hide="showing" class="spinner-energized "></ion-spinner>
            <span class="button-text" ng-hide="!showing">Register</span>
          </button>

        </div>

      </div>

      <div class="">
        <p class="text-center">
          <a href="" ng-click="openModal()">Forgot password</a>
        </p>

        <p class="text-center">Login With</p>

        <div class="login-social text-center">
          <a href="" class="icon-button twitter"><i class="icon-twitter"></i></a>
          <a href="" class="icon-button facebook"><i class="icon-facebook"></i></a>
          <a href="" class="icon-button google-plus"><i class="icon-google-plus"></i></a>
          <a href="" class="icon-button wechat"><i class="icon-wechat"></i></a>
        </div>


      </div>




    </div>



  </ion-content>
</ion-view>
