/*lOG IN */

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

/*
.login-container > .img {
    -webkit-flex: 4;
    padding-top: 20px;
    height: auto;
    width: auto;

    max-height: 20%;
    max-width: 20%;
}*/

.login-avatar {
  display:block;
  margin:auto;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 40%;
  height: 40%;
}

.register-avatar {
  display:block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 80%;
  height: 80%;
}

.login-social {
  display: block;
  margin: auto;
}

.icon-button {
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.icon-button:active i{
  background-color: white;
}

.icon-button .icon-twitter:active {
  color: #4099ff;
}
.icon-button .icon-facebook:active {
  color: #3B5998;
}
.icon-button .icon-google-plus:active {
  color: #db5a3c;
}
.icon-button .icon-wechat:active {
  color: #24BF2F;
}

.icon-button .icon-twitter {
	background-color: #4099ff;
  border-radius: 3.6rem;
}
.icon-button .icon-facebook {
	background-color: #3B5998;
  border-radius: 3.6rem;
}
.icon-button .icon-google-plus {
	background-color: #db5a3c;
  border-radius: 3.6rem;
}

.icon-button .icon-wechat {
  background-color: #24BF2F;
  border-radius: 3.6rem;
}
