<ion-view view-title="Cart">
  <ion-content class="padding">
    <h2>Ordered Total: {{orderedItems.length}}</h2>
    <h3>Total Price: {{TotalPrice()}}</h3>

    <div>
      <button class="button button-small button-positive" ng-click="gotoPayment()">Proceed to payment</button>
      <button class="button button-small button-assertive" ng-click="RemoveAllItems()">Remove All</button>
    </div>


    <div class="list card" show-delete="true" ng-repeat="item in orderedItems">

      <div class="item cart-item item-thumbnail-left animated bounceInLeft" >
        <img src="{{img_domain + item.product.details.img_relative_url}}" />

        <h2>{{ item.product.name }}</h2>
        <p>{{ item.product.details.description }}</p>

        <h3>Options:</h3>
        <h4 ng-repeat="opt in item.product.details.options">
          <!-- {{opt.name}} : {{opt.isMultiple ? opt.selected.join() : opt.selected}} -->
          {{opt.name}} : {{opt.selected.join()}}

        </h4>


        <a class="subdued">
          Quantity: {{item.orderedQuantity}}
        </a>
      </div>

    <div class="item tabs tabs-secondary tabs-icon-left" >
      <a class="tab-item" ng-click="changeQuantityAdd(item)" >
        <i class="icon ion-plus-circled balanced"></i>
      </a>

      <a class="tab-item" ng-click="changeQuantityMinus(item)" >
        <i class="icon ion-minus-circled assertive"></i>
      </a>

      <a class="tab-item" ng-click="removeThis(item)">
        <i class="icon ion-trash-a"></i>
      </a>

    </div>
  </div>




  </ion-content>
</ion-view>
