<ion-view view-title="Cart">
  <ion-content class="padding">
    <h2>Ordered Total: {{orderedItems.length}}</h2>
    <h3>Total Price: {{TotalPrice()}}</h3>

    <div>
      <button class="button button-small button-positive">Order Now</button>
      <button class="button button-small button-assertive" ng-click="RemoveAllItems()">Remove All</button>
    </div>

    <ion-list >
      <ion-item ng-repeat="item in orderedItems" class="item-thumbnail-left item-text-wrap item-button-right">

        <img ng-src="http://images.visitbeijing.com.cn/20150610/Img215165848.jpg" />

        <h2>{{item.name}}</h2>
        <p>{{item.description | limitTo: 80 }}{{item.description.length > 80 ? '...' : ''}}</p>

        <span>
          <button class="button icon button-icon ion-chevron-up" ng-click=""></button>
          1
          <button class="button icon button-icon ion-chevron-down" ng-click=""></button>
        </span>


        <!-- <button class="button icon button-icon ion-trash-a" ng-click="removeThis({{item}})"></button> -->

        <!-- <ion-option-button class="button-calm" ng-click="{{console.log("+")}}">
					+
				</ion-option-button>

        <ion-option-button class="button-balanced" ng-click="{{console.log("-")}}">
          -
        </ion-option-button> -->

        <ion-option-button class="button-assertive" ng-click="removeThis({{item}})">Remove</ion-option-button>





      </ion-item>
    </ion-list>


      <!-- <div class="item item-button-right" ng-model="orderedItems" ng-repeat="item in orderedItems">
        <span>{{item.name}}    {{item.price}}</span>

        <button class="button icon button-icon ion-trash-a" ng-click="removeThis({{item}})"></button>
      </div> -->


  </ion-content>
</ion-view>

<!-- <ion-list can-swipe="true">
			<ion-item ng-repeat="item in vm.items" class="item-thumbnail-left item-text-wrap">
				<img ng-src="{{item.picture}}" />
				<h2>{{item.name}}</h2>
				<p>{{item.description | limitTo: 80 }}{{item.description.length > 80 ? '...' : ''}}</p>
				<p class="text-right">{{item.price | currency : item.currency : 2 }} x {{item.quantity}} {{item.size}}</p>

				<p class="text-right" ng-repeat="option in item.options" style="font-style: italic;">
					{{option.name}}: {{option.value | currency : item.currency : 2 }}
				</p>

				<p class="text-right" style="font-weight: 500;">
					Total: {{vm.getItemTotal(item) | currency : item.currency : 2 }}
				</p>

				<ion-option-button class="button-balanced" ng-click="vm.changeQuantity(item)">
					Change quantity
				</ion-option-button>
				<ion-option-button class="button-assertive" ng-click="vm.deleteItem(item)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>



<div ng-repeat="event in events">
  <div class="card" ng-click="showEventDetails(event._id)" >
    <div class="item item-image">
      <img ng-src="{{event.img_url}}">
    </div>

    <a class="item">
      <h3>{{event.name}}</h3>
      <h4>{{event.description}}</h4>
    </a>
  </div>

</div> -->
